<%- layout('./layouts/boilerplate') %>
<div class="container page">
    <h1 class="text-center py-5">Dugi Otok | <span>Mjesta</span></h1>
    <div class="d-flex flex-wrap justify-content-center w-100 gap-4">
        <% for( let item of pageData.mjesta ) { %>
            <a class="text-decoration-none acard" href="/showPlace/<%=  item.id %>"> 
                <div class="card" data-aos="fade-up">              
                    <div class="card-img">
                        <img src="<%= item.imgsm %>" class="" alt="<%= item.title %>">     
                    </div>   
                    <div class="card-body text-center bg-success">
                        <span class="card-title m-0 text-white fs-6" ><%= item.title %></span>
                    </div> 
                </div>
            </a>
        <% } %>
    </div>
</div>