<%- layout("./layouts/boilerplate")  %>
<div class="container page">
    <small class="py-5">plaze > <%= plaza.title %></small>
    <div class="show-content">
        <img class="show-img" src=".<%= plaza.img  %>" alt="<%= plaza.title %>">
        <span class="show-title"><%= plaza.title %></span>
        <p class="show-paragraph"><%= plaza.about %></p>
        <a class="btn-povratak" href="/plaze">sva mjesta</a>
    </div>
    
</div>