<%- layout("./layouts/boilerplate")  %>
<div class="container page">
    <small class="py-5">mjesta > <%= place.title %></small>
    <div class="show-content col-12 col-md-6">
        <img class="show-img" src=".<%= place.img  %>" alt="<%= place.title %>">
        <span class="show-title"><%= place.title %></span>
        <p class="show-paragraph"><%= place.about %></p>
        <a class="btn-povratak" href="/places">sva mjesta</a>
    </div>
    
</div>