<%- layout("./layouts/boilerplate")  %>
<div class="container py-5">
    <h1 class="py-5"><%= title %></h1>
    <div class="show-content">
        <img class="show-img" src=".<%= item.img  %>" alt="<%= item.title %>">
        <span class="show-title"><%= item.title %></span>
        <p class="show-paragraph"><%= item.about %></p>
        <a class="btn-povratak" href="/list?cat=<%= cat %>"><- povratak</a>
    </div>
    
</div>